<h3> All Genres </h3>

<%= form_tag("/genres", method: "get") do %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text">Filter</label>
    </div>
    <%= text_field_tag(:name, params['name'], class: "form-control") %>
    <div class="input-group-prepend">
      <%= submit_tag("Submit", class: 'btn btn-outline-primary') %>
    </div>
  </div>
<% end %>

<ol>
  <% @genres.each do |genre| %>
  <li> <%= link_to genre.name, genre  %> </li>
  <% end %>
</ol>
