<h3> Showing Genre </h3>

<fieldset>
  <b> ID: </b> <%= @genre.id %> <br>
  <b> Name: </b> <%= @genre.name %> <br>
  <b> Created at: </b> <%= format(@genre.created_at) %> <br>
  <b> Updated at: </b> <%= format(@genre.updated_at) %> <br>
</fieldset>
