<h3> Showing Album </h3>

<fieldset>
<b> ID: </b> <%= @album.id %> <br>
<b> Name: </b> <%= @album.name %> <br>
<b> Created at: </b> <%= format(@album.created_at) %> <br>
<b> Updated at: </b> <%= format(@album.updated_at) %> <br>
</fieldset>
